<div class=" full-height black">


  <h2 class="mat-h2 center ">Search books by title</h2>

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Book Title" #bookName>
    </mat-form-field>
    <button class="bookbutton" mat-raised-button color="primary" type="submit"
      (click)="getBooksInformation(bookName.value)">Search Books</button>


    <div class="black" *ngIf="bookData">
      <app-book-component [bookData]="bookData">
      </app-book-component>
    </div>

  </div>