.example-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
  
  .example-container > * {
    width: 100%;
    
  }
  
  /* centers h1 and makes it bigger */ 
  .center{
      text-align: center;

  }

  /* Makes header responsive */
  @media only screen and (max-width: 600px) {
    .center {
      font-size: 2em;
    }
  }

  .bookbutton{
    margin: 1rem;
    background-color:#379683;
    color: black;
    max-width: 20rem;
    margin: auto;
    
    }

    .black{
      color: #379683;
      background-color: black;
    }

    ::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #379683 !important;
  font-size: 1rem !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #379683 !important;
} 

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #379683 !important;;
 }

 
 /* Makes component full height of screen*/

.heading{
    font-size: 3em;
}

/* 

Book CSS below

*/

#MainImg{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}

.bookbutton{
    margin: 1rem;
    background-color:#379683;
    color: black;
    
    }

.black{
    background-color: black;
    color: #379683;
}

.testtrack{
    color: #379683;

    color: #5CDB95;

    color: #3500
}
/*Fix gap*/
.size{
    width: 100%;
    margin-top: -35px;
}